.navbar-light{
    background-color: deeppink;
}
.navbar-red{
    color: rgb(255, 255, 255)
}
.navbar-eb{
    color: rgb(255, 255, 255)
}
.navbar-ebх{
    color: rgb(255, 255, 255)
}
.navbar-e{
    color: rgb(255, 255, 255)
}
.navbar-mj{
    color: rgb(255, 255, 255)
}
.navbar-lights{
    background-color: rgb(228, 215, 215)
}
